body {
   background-color: whitesmoke;
   background-image: none;
}

img{
  	float: left;
  	margin: 5px;
  	width: 300px;
  	height: 140px;
}


.flex-container {
   flex-direction: row;
   display: flex;
   flex-wrap: wrap;
  /*background-color: DodgerBlue;*/

}

.flex-container > div {
   width: 45%;
   margin: 10px 25px 0px 25px;
     border-bottom:  rgba(206, 27, 27, 0.75) 2px solid;
}


@media only screen and (max-width: 768px) {

.flex-container > div {
   width: 90%;
}



}