/*.flex_class {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	flex-wrap: nowrap;
}
*/


body {
	/*background-color: #f1f1f1;*/
		background-image: url("C:/Users/hp/Pictures/Inazuma_Eleven/wp1823337.jpg");
			background-color: rgba(10, 10, 10, 0.1);
}

a {
	color: white;
}
 a:hover {
 	color: gold;
 	text-decoration: none;
 }

.placement_corousel_section{
	width: 100%;
	margin: auto;
	padding: auto;
	/*border: 0.5px solid lightgrey;*/

}

.carousel-inner{
	margin: auto;
	padding: auto;
	/*width: 73%;*/
	/*height: 500px;*/
}


.connect_flex {
	background-color: rgba(10,10,10,0.7);
	/*background-image: url("C:/Users/hp/Pictures/Inazuma_Eleven/wp1823337.jpg");*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-overflow: none;
	color: #fff;
	/*radial-gradient: (#333, #333);*/
	border-radius: 10px;
	margin-top: 20px;
	overflow: auto;
	/*color: whitesmoke;*/
}



/*
.container_highlights {
	-webkit-linear-gradient : ;
	height: 200px;
	align-content: center;
}*/
.manage_height {
	height: 200px;
}

.highlights_content {
	height: auto;
	margin: auto;
	padding: auto;
	align-content: center;
	border-right: 1px gold solid;
}


.placemnt_highlights_section{
	margin:auto;
	padding: auto;
	/*width: 75%;*/
}

.placemnt_highlights_section {
 	width: 100%;

	margin: 20px 0px 20px 0px;
	padding-bottom: 20px;
	/*padding: 20px 0px 20px 0px;*/
 	/*background-color: grey;*/
}

.chartSection {
	/*border: 2px solid;*/
	/*margin-left: 500px;*/
	/*padding-left: 500px;*/
	/*position: absolute;*/
	margin: : 20px 0px 20px 0px;
	padding: 20px 0px 20px 0px;

}

#chartContainer {
	width: 500px;
	height: 400px;
	/*margin: 100px;*/
	/*margin-left: 500px;*/
	padding-left: 222px;
	padding-top: 20px;
	/*border: 2px solid;*/
}


.placement_logo_slider_section {
	margin: : 50px 0px 20px 0px;
	padding: 50px 0px 20px 0px;
	/*margin: auto;*/
	/*padding: auto;*/
	/*background-color: white;*/
	/*background-color: rgba(10, 10, 10, 0.1);*/
	/*margin-top: 100px;*/
	/*padding-top: 100px;*/
}

.customer-logos {
	margin-top: 30px;
	/*padding-top: 20px;*/
}


.placemnt_connect_section {
 	width: 100%;

	margin: 20px 0px 20px 0px;
	/*padding: 20px 0px 20px 0px;*/
 	/*background-color: grey;*/
}

.container_connect {
	width: 100%;
}

.card-text {
	overflow: auto;
	/*text-overflow: hidden;*/
}

.border_right {
	border-right: 1px silver solid;

}


@media only screen and (max-width: 650px) {

.manage_height {
	height: auto;
}

.highlights_content {
	height: auto;
	margin: auto;
	padding: auto;
	align-content: center;
	border-bottom : 1px gold solid;
	border-right : 0px;
}

.border_right {
	border-right: 0px;
	border-bottom: 1px silver solid;
}

#chartContainer {
	width: 350px;
	height: 400px;
	/*margin: 100px;*/
	/*margin-left: 500px;*/
	/*padding-left: 222px;*/
	padding-left: 0px;
	padding-top: 20px;
	/*border: 2px solid;*/
}


}